@use "../../styles/mixins";

.title {
  @include mixins.responsive(68px, 58px, 48px, 32px) using ($d) {
    padding: $d 0;
  }
}

.title-button {
  white-space: nowrap;
  @media screen and (max-width: 576px) {
    white-space: normal;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
}

.banner {
  position: relative;
  overflow: hidden;
  @include mixins.responsive(80px, 70px, 56px, 48px) using ($d) {
    margin-bottom: $d;
  }
  @include mixins.responsive(550px, 550px, 400px, 320px) using ($d) {
    height: $d;
  }
}

.banner-image {
  position: absolute;
  top: 0;
  width: auto;
  @include mixins.responsive(550px, 550px, 400px, 320px) using ($d) {
    height: $d;
  }
  @include mixins.responsive(0, 15%, 40%, 60%) using ($d) {
    left: -$d;
  }
  @media screen and (max-width: 350px) {
    left: -85%;
  }
  @media screen and (max-width: 300px) {
    left: -110%;
  }
}

.solutions-block {
  @include mixins.responsive(90px, 70px, 70px, 70px) using ($d) {
    padding-top: $d;
    padding-bottom: $d;
  }
}
