@use "../../styles/mixins";

.title {
  @include mixins.responsive(68px, 58px, 48px, 32px) using ($d) {
    padding: $d 0;
  }
}

.title-button {
  white-space: nowrap;
  @media screen and (max-width: 576px) {
    white-space: normal;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
}

.banner {
  @include mixins.responsive(80px, 70px, 56px, 48px) using ($d) {
    margin-bottom: $d;
  }
}

.solutions-block {
  @include mixins.responsive(90px, 70px, 70px, 70px) using ($d) {
    padding-top: $d;
    padding-bottom: $d;
  }
}
