@use "../../styles/mixins";

.top-title {
  @include mixins.responsive(68px, 58px, 48px, 32px) using ($d) {
    padding: $d 0;
  }
}

.top-title-button {
  white-space: nowrap;
  @media screen and (max-width: 576px) {
    white-space: normal;
  }
  @media screen and (max-width: 360px) {
    font-size: 14px;
  }
}

.top-banner {
  @include mixins.responsive(80px, 70px, 56px, 48px) using ($d) {
    margin-bottom: $d;
  }
}

.block {
  @include mixins.responsive(110px, 96px, 80px, 70px) using ($d) {
    margin-bottom: $d;
  }
}

.block-title {
  @include mixins.responsive(70px, 56px, 44px, 32px) using ($d) {
    margin-bottom: $d;
  }
}

.block-content {
  font-size: 1rem * 1.125;
  @include mixins.responsive(80px, 80px, 0, 0) using ($d) {
    margin-left: $d;
  }
  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.solutions-block {
  @include mixins.responsive(90px, 70px, 70px, 70px) using ($d) {
    padding-top: $d;
    padding-bottom: $d;
  }
}

.step-title {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    right: -24px;
    bottom: -24px;
    top: -24px;
    left: -24px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/highlight-ellipse.svg);
  }
}
