@use "../../styles/mixins";
@use "../../styles/variables";

$li-gutter: 12px;
$wrapper-small-padding: 22px;
$wrapper-small-translate: calc(-100% - #{variables.$content-sm-padding});

// scrollspy-wrapper

@mixin wrapper {
  position: sticky;
  background-color: #fff;
  top: 32px;
  z-index: 890;

  @media screen and (max-width: 576px) {
    position: fixed;
    transform: translateX(#{$wrapper-small-translate});
    transition: transform 0.3s;
    top: 30vh;
    padding: $wrapper-small-padding;
  }
}

.wrapper {
  @include wrapper;
}

.wrapper-shown {
  @include wrapper;
  @media screen and (max-width: 576px) {
    transform: translateX(-#{variables.$content-sm-padding});
  }
}

.backdrop {
  @include mixins.backdrop(880);
}

.small-toggle {
  position: absolute;
  left: calc(100% + #{$wrapper-small-padding});
  bottom: -$wrapper-small-padding;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom-right-radius: 50%;
  border-top-right-radius: 50%;
  background: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 1;
  width: 64px;
  padding: 10px 0 14px 0;

  @media screen and (min-width: 576px) {
    display: none;
  }
}

// react-scrollspy

@mixin scrollspy-link {
  opacity: 0.5;
  white-space: nowrap;
  &:hover {
    opacity: 1;
  }
}

@mixin scrollspy-link-name {
  position: relative;
  margin-left: 96px;

  @media screen and (max-width: 992px) {
    margin-left: 64px;
  }

  @media screen and (max-width: 768px) {
    margin-left: 32px;
  }
}

.scrollspy {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    a {
      text-decoration: none;
    }
  }
}

.scrollspy-li {
  margin-bottom: $li-gutter;
  &:last-child {
    margin-bottom: 0;
  }
}

.scrollspy-link {
  @include scrollspy-link;
}

.scrollspy-link-active {
  @include scrollspy-link;
  font-weight: 600;
  margin-bottom: $li-gutter + 16px;
  opacity: 1;

  @media screen and (max-width: 768px) {
    margin-bottom: $li-gutter;
  }
}

.scrollspy-link-name {
  @include scrollspy-link-name;
}

.scrollspy-link-active-name {
  @include scrollspy-link-name;

  &:before {
    content: "";
    position: absolute;
    right: calc(100% + 28px);
    top: 0.5em;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../assets/svg/arrow-long-right.svg);
    width: 39px;
    height: 6px;
  }

  @media screen and (max-width: 992px) {
    &:before {
      background-image: url(../../assets/svg/arrow-normal-right.svg);
      width: 26px;
      right: calc(100% + 18px);
    }
  }

  @media screen and (max-width: 768px) {
    &:before {
      display: none;
    }
  }
}

// other

.button {
  @include mixins.responsive(16px, 14px, 12px, 10px) using ($d) {
    font-size: $d;
  }
}
