@use "../../../styles/mixins";

.title {
  font-family: Anticva;
  margin-top: 30px;
  @include mixins.responsive(22px, 20px, 18px, 14px) using ($d) {
    font-size: $d;
    line-height: $d + 4px;
  }
}

.item {
  cursor: pointer;
  @include mixins.responsive(32px, 28px, 22px, 14px) using ($d) {
    padding: $d !important;
  }
}

.container {
  @include mixins.responsive(32px, 28px, 22px, 14px) using ($d) {
    margin: -$d !important;
  }
}
